.k-grid-header .k-header {
    color: rgba(0, 0, 0, 0.65) !important;
    background-color: rgba(255, 255, 255, 0.4) !important;
    border-color: rgba(255, 255, 255, 0.4) !important;
}
.k-grid {
    font-family: Verdana, Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", Helvetica, Arial, 黑體-繁, "Heiti TC", 微軟正黑體, "Microsoft JhengHei", "Microsoft YaHei", sans-serif !important;
}
.k-grid-header th {
    font-weight: 900 !important;
}
.k-grid-header .k-link:hover, .k-grid-header .k-sorted {
    color: rgba(0, 0, 0, 0.65) !important;
}
.modal-title {
    /* font-weight: 900; */
    font-size: 16px;
    font-family: 微軟正黑體;
}
.search-icon-container {
    height: 50.156px;
    width: auto;
    padding-left: 15px;
    display: flex;
    align-items: center;
}
.search-icon {
    height: 30px;
    width: auto;
    cursor: pointer;
}
.header {
    display: flex; 
    justify-content: center; 
    padding: 20px 10px 0 10px;
}
@media (max-width: 540px) {
    .header {
        font-size: 14px;
        flex-direction: column;
    }
    h1 {
        margin: 0;
        padding: 3px 0;
    }
}