<div data-bind='component: {name:"ui-link-item-base",
                            params: { kNo: viewModel.itemNo(),
                                      kTitle: viewModel.title(),
                                      kUrl: viewModel.url(),
                                      kTarget: viewModel.target(),
                                      kContent: viewModel.content(),
                                      kType: viewModel.triggerType(),
                                      kSize: viewModel.modalSize,
                                      kHeight: viewModel.modalHeight,
                                      click: viewModel.click,
                                      parentViewmodel: parentViewmodel
                                    }
                            }'></div>
