<div class="royalSlider contentSlider rsDefault" data-bind="attr:{id:viewModel.id}" >
    <div>
        <h3>Slide HTML Text</h3>
        <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.  These words are here to provide the reader with a basic impression of how actual text will appear in its final presentation. </p>
        <blockquote>This is dummy copy. It's Greek to you. Unless, of course, you're Greek, in which case, it really makes no sense. Why, you can't even read it!  It is strictly for mock-ups. You may mock it up as strictly as you wish.</blockquote>
        <p>After all, you have many other things you should be doing. Who's paying you to waste this time, anyway?</p>
        <span class="rsTmb">HTML text</span>
    </div>
    <div>
        <img class="rsImg" src="http://dimsemenov.com/plugins/royal-slider/img/home.jpg" data-rsw="707" data-rsh="397">
        <h3>Slide with Image and Text</h3>
        <p>This is dummy copy. It is not meant to be read. Accordingly, it is difficult to figure out when to end it. If this were real copy, it would have ended long ago. But then, this is dummy copy. It is not meant to be read. Period.</p>
        <span class="rsTmb">Image</span>
    </div>
    <div>
        <img class="rsImg" src="http://dimsemenov.com/plugins/royal-slider/img/boat.jpg" data-rsvideo="http://www.youtube.com/watch?v=HFbHRWwyihE" data-rsw="640" data-rsh="425">
        <h3>Slide with Video and Text</h3>
        <p>This is dummy copy. It is not meant to be read. Accordingly, it is difficult to figure out when to end it. But then, this is dummy copy. It is not meant to be read. Period.</p>
        <span class="rsTmb">Video</span>
    </div>

</div>