<div class="thumbnailItem" data-bind="component: {name:'ui-thumbnail',
                                        params: {titleCaption: viewModel.titleCaption,
                                                contentCaption: viewModel.contentCaption,
                                                src: viewModel.src,
                                                alt: viewModel.alt,
                                                error: viewModel.error,
                                                callback: viewModel.callback,
                                                key: viewModel.key,
                                                vertical: viewModel.vertical,
                                                overlayContent: viewModel.overlayContent,
                                                url: viewModel.url
                                                }
                                        }
">
</div>