<!-- Button trigger modal -->
<div class="row">
    <div class="col-xs-6 col-sm-3 col-md-2" style="padding-left: 5px;padding-right: 5px">
        <div class="thumbnail">
            <img src="/SSMVVM/app/base/resources/images/CarPhoto01.png" alt="...">

            <div class="caption">
                <h5>1.左前45度</h5>

                <p><textarea rows="2" cols="20" title="長度限制20" placeholder="增加圖片文字敘述"
                             style="height:30px;width:100%;"></textarea></p>

                <p style="text-align: right;width:100%;position: absolute;top: 5px;left: 0px;padding-right: 10px;"><a
                        href="#" class="btn btn-default btn-xs" role="button"><span
                        class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2" style="padding-left: 5px;padding-right: 5px">
        <div class="thumbnail">
            <img src="/SSMVVM/app/base/resources/images/CarPhoto02.png" alt="...">

            <div class="caption">
                <h5>2.右後45度</h5>

                <p><textarea rows="2" cols="20" title="長度限制20" placeholder="增加圖片文字敘述"
                             style="height:30px;width:100%;"></textarea></p>

                <p style="text-align: right;width:100%;position: absolute;top: 5px;left: 0px;padding-right: 10px;"><a
                        href="#" class="btn btn-default btn-xs" role="button"><span
                        class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2" style="padding-left: 5px;padding-right: 5px">
        <div class="thumbnail">
            <img src="/SSMVVM/app/base/resources/images/CarPhoto03.png" alt="...">

            <div class="caption">
                <h5>3.車輛正前</h5>

                <p><textarea rows="2" cols="20" title="長度限制20" placeholder="增加圖片文字敘述"
                             style="height:30px;width:100%;"></textarea></p>

                <p style="text-align: right;width:100%;position: absolute;top: 5px;left: 0px;padding-right: 10px;"><a
                        href="#" class="btn btn-default btn-xs" role="button"><span
                        class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2" style="padding-left: 5px;padding-right: 5px">
        <div class="thumbnail">
            <img src="/SSMVVM/app/base/resources/images/CarPhoto04.png" alt="...">

            <div class="caption">
                <h5>4.車輛正後</h5>

                <p><textarea rows="2" cols="20" title="長度限制20" placeholder="增加圖片文字敘述"
                             style="height:30px;width:100%;"></textarea></p>

                <p style="text-align: right;width:100%;position: absolute;top: 5px;left: 0px;padding-right: 10px;"><a
                        href="#" class="btn btn-default btn-xs" role="button"><span
                        class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2" style="padding-left: 5px;padding-right: 5px">
        <div class="thumbnail">
            <img src="/SSMVVM/app/base/resources/images/CarPhoto07.png" alt="...">

            <div class="caption">
                <h5>5.儀表版中控</h5>

                <p><textarea rows="2" cols="20" title="長度限制20" placeholder="增加圖片文字敘述"
                             style="height:30px;width:100%;"></textarea></p>

                <p style="text-align: right;width:100%;position: absolute;top: 5px;left: 0px;padding-right: 10px;"><a
                        href="#" class="btn btn-default btn-xs" role="button"><span
                        class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2" style="padding-left: 5px;padding-right: 5px">
        <div class="thumbnail">
            <img src="/SSMVVM/app/base/resources/images/CarPhoto05.png" alt="...">

            <div class="caption">
                <h5>6.引擎掀蓋</h5>

                <p><textarea rows="2" cols="20" title="長度限制20" placeholder="增加圖片文字敘述"
                             style="height:30px;width:100%;"></textarea></p>

                <p style="text-align: right;width:100%;position: absolute;top: 5px;left: 0px;padding-right: 10px;"><a
                        href="#" class="btn btn-default btn-xs" role="button"><span
                        class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2" style="padding-left: 5px;padding-right: 5px">
        <div class="thumbnail">
            <img src="/SSMVVM/app/base/resources/images/CarPhoto08.png" alt="...">

            <div class="caption">
                <h5>7.後座</h5>

                <p><textarea rows="2" cols="20" title="長度限制20" placeholder="增加圖片文字敘述"
                             style="height:30px;width:100%;"></textarea></p>

                <p style="text-align: right;width:100%;position: absolute;top: 5px;left: 0px;padding-right: 10px;"><a
                        href="#" class="btn btn-default btn-xs" role="button"><span
                        class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2" style="padding-left: 5px;padding-right: 5px">
        <div class="thumbnail">
            <img src="/SSMVVM/app/base/resources/images/CarPhoto06.png" alt="...">

            <div class="caption">
                <h5>8.儀表板里程</h5>

                <p><textarea rows="2" cols="20" title="長度限制20" placeholder="增加圖片文字敘述"
                             style="height:30px;width:100%;"></textarea></p>

                <p style="text-align: right;width:100%;position: absolute;top: 5px;left: 0px;padding-right: 10px;"><a
                        href="#" class="btn btn-default btn-xs" role="button"><span
                        class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2" style="padding-left: 5px;padding-right: 5px">
        <div class="thumbnail">
            <img src="/SSMVVM/app/base/resources/images/CAR_NOPHOTO.png" alt="...">

            <div class="caption">
                <h5>9.第9張照片</h5>

                <p><textarea rows="2" cols="20" title="長度限制20" placeholder="增加圖片文字敘述"
                             style="height:30px;width:100%;"></textarea></p>

                <p style="text-align: right;width:100%;position: absolute;top: 5px;left: 0px;padding-right: 10px;"><a
                        href="#" class="btn btn-default btn-xs" role="button"><span
                        class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2" style="padding-left: 5px;padding-right: 5px">
        <div class="thumbnail">
            <img src="/SSMVVM/app/base/resources/images/CAR_NOPHOTO.png" alt="...">

            <div class="caption">
                <h5>10.第10張照片</h5>

                <p><textarea rows="2" cols="20" title="長度限制20" placeholder="增加圖片文字敘述"
                             style="height:30px;width:100%;"></textarea></p>

                <p style="text-align: right;width:100%;position: absolute;top: 5px;left: 0px;padding-right: 10px;"><a
                        href="#" class="btn btn-default btn-xs" role="button"><span
                        class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2" style="padding-left: 5px;padding-right: 5px">
        <div class="thumbnail">
            <img src="/SSMVVM/app/base/resources/images/CAR_NOPHOTO.png" alt="...">

            <div class="caption">
                <h5>11.第11張照片</h5>

                <p><textarea rows="2" cols="20" title="長度限制20" placeholder="增加圖片文字敘述"
                             style="height:30px;width:100%;"></textarea></p>

                <p style="text-align: right;width:100%;position: absolute;top: 5px;left: 0px;padding-right: 10px;"><a
                        href="#" class="btn btn-default btn-xs" role="button"><span
                        class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2" style="padding-left: 5px;padding-right: 5px">
        <div class="thumbnail">
            <img src="/SSMVVM/app/base/resources/images/CAR_NOPHOTO.png" alt="...">

            <div class="caption">
                <h5>12.第12張照片</h5>

                <p><textarea rows="2" cols="20" title="長度限制20" placeholder="增加圖片文字敘述"
                             style="height:30px;width:100%;"></textarea></p>

                <p style="text-align: right;width:100%;position: absolute;top: 5px;left: 0px;padding-right: 10px;"><a
                        href="#" class="btn btn-default btn-xs" role="button"><span
                        class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="columnContentContainer">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadPopup">
            上傳圖片
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="uploadPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="myModalLabel">上傳圖片</h5>
            </div>
            <div class="modal-body">
                <iframe src="app/base/views/UIUploadPage.html" width="100%" height="400" scrolling="yes"
                        frameborder="0"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">關閉視窗</button>
            </div>
        </div>
    </div>
</div>